### pandas的数据如何转换成numpy
1. https://stackoverflow.com/questions/13187778/convert-pandas-dataframe-to-numpy-array

In [1]:
import numpy as np
import pandas as pd

index = [1, 2, 3, 4, 5, 6, 7]
a = [np.nan, np.nan, np.nan, 0.1, 0.1, 0.1, 0.1]
b = [0.2, np.nan, 0.2, 0.2, 0.2, np.nan, np.nan]
c = [np.nan, 0.5, 0.5, np.nan, 0.5, 0.5, np.nan]
df = pd.DataFrame({'A': a, 'B': b, 'C': c}, index=index)
df = df.rename_axis('ID')
df

      A    B    C
ID
1   NaN  0.2  NaN
2   NaN  NaN  0.5
3   NaN  0.2  0.5
4   0.1  0.2  NaN
5   0.1  0.2  0.5
6   0.1  NaN  0.5
7   0.1  NaN  NaN

#### 1. 想要将df转换成numpy：

In [4]:

a = df.to_numpy()
a

array([[nan, 0.2, nan],
       [nan, nan, 0.5],
       [nan, 0.2, 0.5],
       [0.1, 0.2, nan],
       [0.1, 0.2, 0.5],
       [0.1, nan, 0.5],
       [0.1, nan, nan]])

In [5]:
# 但是上面的a如果发生变化，会导致df发生变化。
a[0, 0] = -999
df

        A    B    C
ID
1  -999.0  0.2  NaN
2     NaN  NaN  0.5
3     NaN  0.2  0.5
4     0.1  0.2  NaN
5     0.1  0.2  0.5
6     0.1  NaN  0.5
7     0.1  NaN  NaN

In [6]:
# 为了防止a变化，让df也发生变化，可以设置to_numpy参数
b = df.to_numpy(copy=True)
b

array([[-9.99e+02,  2.00e-01,       nan],
       [      nan,       nan,  5.00e-01],
       [      nan,  2.00e-01,  5.00e-01],
       [ 1.00e-01,  2.00e-01,       nan],
       [ 1.00e-01,  2.00e-01,  5.00e-01],
       [ 1.00e-01,       nan,  5.00e-01],
       [ 1.00e-01,       nan,       nan]])

In [7]:
b[0, 0] = 1234
df

        A    B    C
ID
1  -999.0  0.2  NaN
2     NaN  NaN  0.5
3     NaN  0.2  0.5
4     0.1  0.2  NaN
5     0.1  0.2  0.5
6     0.1  NaN  0.5
7     0.1  NaN  NaN

#### 2. 转换的时候，希望保留数据类型：

In [3]:
df.to_records()

rec.array([(1, nan, 0.2, nan), (2, nan, nan, 0.5), (3, nan, 0.2, 0.5),
           (4, 0.1, 0.2, nan), (5, 0.1, 0.2, 0.5), (6, 0.1, nan, 0.5),
           (7, 0.1, nan, nan)],
          dtype=[('ID', '<i8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])