In [4]:
import numpy as np
import pandas as pd
import json
from generate_racebar import BarRace

In [5]:
data = pd.read_json(
    "https://fastly.jsdelivr.net/gh/apache/echarts-website@asf-site/examples/data/asset/data/life-expectancy-table.json")
data.columns = data.iloc[0, :]
data = data.iloc[1:, ]

data = data[['Population', 'Country', 'Year']]
data['Population'] = data['Population'].astype('int')
data['Year'] = data['Year'].astype('int')
data = data.rename(columns={'Population': 'data_value', "Country": 'data_class', 'Year': 'data_date'})
data

0     data_value      data_class  data_date
1         351014       Australia       1800
2         645526          Canada       1800
3      321675013           China       1800
4         345043            Cuba       1800
5         977662         Finland       1800
...          ...             ...        ...
1535    38611794          Poland       2015
1536   143456918          Russia       2015
1537    78665830          Turkey       2015
1538    64715810  United Kingdom       2015
1539   321773631   United States       2015

[1539 rows x 3 columns]

In [ ]:

bar_color_map = {
    'Australia': '#00008b',
    'Canada': '#f00',
    'China': '#ffde00',
    'Cuba': '#002a8f',
    'Finland': '#003580',
    'France': '#ed2939',
    'Germany': '#000',
    'Iceland': '#003897',
    'India': '#f93',
    'Japan': '#bc002d',
    'North Korea': '#024fa2',
    'South Korea': '#000',
    'New Zealand': '#00247d',
    'Norway': '#ef2b2d',
    'Poland': '#dc143c',
    'Russia': '#d52b1e',
    'Turkey': '#e30a17',
    'United Kingdom': '#00247d',
    'United States': '#b22234'
}

# start plot data
br = BarRace(pandas_df=data)
br = BarRace(pandas_df=data, bar_color_map=bar_color_map)

br()
br.save_html(filename="绘制racebar0625.html")